@font-face {
font-family: 'Kollektif';
src: url('fonts-src/kollektif/Kollektif.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Kollektif';
src: url('fonts-src/kollektif/Kollektif-Italic.ttf') format('truetype');
font-weight: normal;
font-style: italic;
 }
@font-face {
font-family: 'Kollektif';
src: url('fonts-src/kollektif/Kollektif-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'Kollektif';
src: url('fonts-src/kollektif/Kollektif-BoldItalic.ttf') format('truetype');
font-weight: bold;
font-style: italic;
}
