@font-face {
font-family: 'urwgeometric';
src: url('fonts-src/URW Geometric-Demo/Fontspring-DEMO-urwgeometric-medium.otf') format('opentype');
font-weight: medium;
font-style: medium;
}

@font-face {
font-family: 'urwgeometric';
src: url('fonts-src/URW Geometric-Demo/Fontspring-DEMO-urwgeometric-regular.otf') format('opentype');
font-weight: normal;
font-style: normal;
}
