@font-face {
font-family: 'Gordita';
src: url('fonts-src/Gordita/Gordita-Regular.otf') format('opentype');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'Gordita';
src: url('fonts-src/Gordita/Gordita-Medium.otf') format('opentype');
font-weight: 500;
font-style: normal;
 }

@font-face {
font-family: 'Gordita';
src: url('fonts-src/Gordita/Gordita-Bold.otf') format('opentype');
font-weight: 600;
font-style: normal;
}

@font-face {
font-family: 'Gordita';
src: url('fonts-src/Gordita/Gordita-Light.otf') format('opentype');
font-weight: 300;
font-style: normal;
}
