	@font-face {
font-family: 'made_evolve_sans';
src: url('fonts-src/made_evolve_sans/MADE Evolve Sans Regular (PERSONAL USE).otf') format('opentype');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'made_evolve_sans';
src: url('fonts-src/made_evolve_sans/MADE Evolve Sans Medium (PERSONAL USE).otf') format('opentype');
font-weight: 500;
font-style: normal;
 }

@font-face {
font-family: 'made_evolve_sans';
src: url('fonts-src/made_evolve_sans/MADE Evolve Sans Bold (PERSONAL USE).otf') format('opentype');
font-weight: 600;
font-style: normal;
}

@font-face {
font-family: 'made_evolve_sans';
src: url('fonts-src/made_evolve_sans/MADE Evolve Sans Light (PERSONAL USE).otf') format('opentype');
font-weight: 300;
font-style: normal;
}
